.quantity-selector {
  display: flex;
}

.quantity-selector input {
  border: 3px solid transparent;
  border-radius: 8px;
  border-width: 2px;
}

/* .quantity-selector button {
  background: linear-gradient(#fff, #fff) padding-box, linear-gradient(45deg, #30cfd0, #330867) border-box;
  display: flex;
  padding: 12px 18px;
  align-items: center;
} */

.quantity-selector input {
  /* padding: 12px 18px; */
  border-color: #000000;
  margin: 0 1em;
  text-align: center;
  font-family: Roboto Mono;
  font-size: 32px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -1.3300000429153442px;
  text-align: center;
  width: 100%;
}

.quantity {
  border-color: #000000;
}
