.wrapper {
  width: 860px;
  margin: 0 auto;
  height: 100%;
  padding: 40px 0;
  font-family: "Roboto Mono", monospace;
}
.wrapper .picklist-container {
  width: 100%;
  top: 90px;
  left: 0;
  z-index: 3;
  height: 45px;
  line-height: 45px;
  vertical-align: middle;
  display: inline-block;
  font-size: 0.1px;
  font-weight: 300;
  font-style: normal;
  cursor: pointer;
  padding: 0;
  cursor: pointer;
  transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
  & ul {
    position: relative;
    height: 45px;
    padding: 0 10px;
    text-align: left;
    border: 1px solid #33383b;
    background: #fafafa;
    border-radius: 3px;
    & li {
      display: block;
      position: relative;
      &:first-child a {
        display: block;
        position: relative;
        font-size: 1.6rem;
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
      }
      &:first-child:after {
        position: absolute;
        top: 0;
        right: 0;
        font-family: FontAwesome;
        font-size: 12px;
        font-size: 1.2rem;
        content: "\f0d7";
        color: #2267b9;
        padding-right: 10px;
      }
    }
  }
  & a {
    display: none;
    font-size: 1.5rem;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #4a5564;
  }
}
/* styles for the dropdown open */
.wrapper div.div-is-visible ul {
  height: initial;
  background: #f1f1f1;
  & li {
    &:first-child:after {
      content: "\f00d";
    }
    & a {
      display: block;
      border-bottom: 2px solid #f1f1f1;
    }
    &:last-child {
      margin-bottom: 10px;
    }
  }
}
